# Python virtual environments
virt/
venv/
__pycache__/

# Database files
sql_app.db

# Node.js modules
node_modules/

# IDE settings
.idea/

# Frontend build directories
.next/

# Environment variables
.env